# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# vim tmp file
*.swp
*~

# vs file
*.obj
*.lib
*.sdf
*.suo
*.ncb
*.user

# ignore dir
lib/lxnet/Debug/*.*
